
body{
    background-color:hsl(212, 45%, 89%);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    display:flex;
    font-family: outfit;
    height: 100vh;
    overflow:hidden;

    font-size: 15px;
}

.container{

    align-items: center;
    justify-content: center;
    flex-direction: column;    
    display:flex;
    padding-top:17px;
    background-color: white;
    width: 15%;
    min-width: 350px;
    max-width: 300px;
    border-radius:15px;
    padding-bottom: 17px;
}

img {
    height: 315px;
    width: 315px;
    border-radius:15px;
}


a {
    color: hsl(228, 45%, 44%);
}


h1 {
    font-size: 160%;
    padding: 18px 35px 5px 35px;
}


.text{
    line-height: 1.3;
    padding: 15px 45px 0 45px;
    color:hsl(220, 15%, 55%);
}

#credits{
    margin-top: 20px;
    font-size: 11px;
    color: hsl(218, 44%, 22%);
}

